*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
/auto/
/_region_.tex
/ai-projekt.fdb_latexmk
*.fls
/*.fdb_latexmk
*.fdb_latexmk
/tex/auto/fazit.el
